<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset='utf-8'/>
    <title>Imagefap-Favorites: Duplicate</title>
  </head>
  <body bgcolor='black' text='lightgray'>

    <h1>Duplicate Set</h1>

    {% load static %}

    <table border='2'>
      <tr>
        <th>Image</th>
        <th>Size&nbsp;Info<br/>FapID&nbsp;/&nbsp;User&nbsp;/&nbsp;Album</th>
        <th>Action</th>
      </tr>
      {% for sha, obj in duplicates.items %}
        <tr>
          <td align='center' valign='center'>
            <a href='{% url "blob" sha %}'><img src='{% static obj.thumb %}'/></a>
          </td>
          <td>
            <table border='1'>
              <tr><td colspan='3'>{{ obj.dimensions }}</td></tr>
              <tr><td colspan='3'>{{ obj.sz }}</td></tr>
              {% if obj.tags %}
                <tr><td colspan='3'>{{ obj.tags }}</td></tr>
              {% endif %}
              {% for fap_id, location in obj.loc.items %}
                <tr>
                  <td>{{ fap_id }}</td>
                  <td><a href='{% url "favorites" location.user_id %}'>{{ location.user_name }}</a></td>
                  <td><a href='{% url "favorite" location.user_id location.folder_id %}'>{{ location.folder_name }}</a></td>
                </tr>
              {% endfor %}
            </table>
          </td>
          <td>{{ obj.action }}</td>
        </tr>
      {% empty %}
        <tr><td colspan='4'>Duplicate set is empty: SHOULD NEVER HAPPEN!</td></tr>
      {% endfor %}
    </table>

  <p>{% if previous_key %}<a href='{% url "duplicate" previous_key.0 %}'>&#11013;&nbsp;&nbsp;PREV</a>&nbsp;&nbsp;{% endif %}&nbsp;&nbsp;&#10037;&nbsp;&nbsp;<a href='{% url "duplicates" %}'>&#11014;</a>&nbsp;&nbsp;&#10037;&nbsp;&nbsp;{% if next_key %}&nbsp;&nbsp;<a href='{% url "duplicate" next_key.0 %}'>NEXT&nbsp;&nbsp;&#10145;</a>{% endif %}</p>

  </body>
</html>
