<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset='utf-8'/>
    <title>
      Imagefap-Favorites: {% if current_index == -1 %}Exact Duplicate{% else %}Perceptual Duplicate Set{% endif %}
    </title>
  <style>

    th, td {padding: 5px;}

    a.external {text-decoration: none;}

    span.regular_hash {
      font-family: monospace;
    }

    td.regular_hash {
      font-family: monospace;
    }

  </style>
  </head>
  <body bgcolor='black' text='lightgray'>

    <h1>
      {% if current_index == -1 %}
        Exact Duplicate <span class='regular_hash'>{{ dup_key }}</span>
      {% else %}
        Perceptual Duplicate Set <span class='regular_hash'>{{ dup_key }}</span>
      {% endif %}
    </h1>

    {% if error_message %}
      <p style='color: red;'><strong>{{ error_message }}</strong></p>
      <p>&nbsp;</p>
    {% endif %}

    {% load static %}

    <p>
      The link icon (<small><small>&#128279;</small></small>) will take you to Imagefap original image: <b><i>beware</i></b>, as clicking will open Imagefap site!<br/>
      The visual hashes in use are: <b><i>Pe</i></b>rceptual, <b><i>Di</i></b>ff, <b><i>Av</i></b>erage & <b><i>Wa</i></b>velet.  <!-- cspell:disable-line -->
      Convolutional Neural Networks (CNN) are also in use, but the hashes are too large to display.
    </p>

    <form action='{% url "duplicate" digest %}' method='post'>
      {% csrf_token %}

      <table border='2'>
        <tr>
          <th>Image</th>
          <th>Size&nbsp;Info<br/>FapID&nbsp;/&nbsp;User&nbsp;/&nbsp;Album</th>
          {% if current_index != -1 %}
            <th>Action</th>
          {% endif %}
        </tr>
        {% for sha, obj in duplicates.items %}
          <tr>
            <td colspan='{% if current_index == -1 %}2{% else %}3{% endif %}' class='regular_hash' id='td_{{ sha }}'>
              {{ sha }}
            </td>
          </tr>
          <tr>
            <td align='center' valign='center'>
              <a href='{% url "blob" sha %}' target='_blank' rel='noopener noreferrer'>
                <img src='{% static obj.thumb %}'/>
              </a>
            </td>
            <td>
              <table border='0'>
                <tr><th align='right'>Dim.:</th><td colspan='3'>{{ obj.dimensions }}</td></tr>
                <tr><th align='right'>Size:</th><td colspan='3'>{{ obj.sz }}</td></tr>
                {% if obj.tags %}
                  <tr><td colspan='4'>{{ obj.tags }}</td></tr>
                {% endif %}
                <tr>
                  <th>Fap&nbsp;ID</th>
                  <th>User</th>
                  <th>Album</th>
                  <th>&nbsp;</th>
                </tr>
                {% for location in obj.loc %}
                  <tr>
                    <td>{{ location.fap_id }}</td>
                    <td><a href='{% url "favorites" location.user_id %}'>{{ location.user_name|escape }}</a></td>
                    <td><a href='{% url "favorite" location.user_id location.folder_id %}'>{{ location.folder_name|escape }}</a></td>
                    <td><small><a href='{{ location.imagefap }}' class='external' title='Image in Imagefap' target='_blank' rel='noopener noreferrer'>&#128279;</a></small></td>
                  </tr>
                {% endfor %}
                <tr>
                  <th colspan='4'>Visual Hashes</th>
                </tr>
                <tr>
                  <td class='regular_hash' colspan='2'><b>Pe:</b>{{ obj.percept }}</td>
                  <td class='regular_hash' colspan='2'><b>Di:</b>{{ obj.diff }}</td>
                </tr>
                <tr>
                  <td class='regular_hash' colspan='2'><b>Av:</b>{{ obj.average }}</td>
                  <td class='regular_hash' colspan='2'><b>Wa:</b>{{ obj.wavelet }}</td>
                </tr>
              </table>
            </td>
            {% if current_index != -1 %}
              <td>
                <fieldset>
                  <input type='radio' name='{{ sha }}' id='action_{{ forloop.counter }}_new' value='new' {% if obj.action == 'new' %}checked{% endif %}>
                  <label for='action_{{ forloop.counter }}_new'>new&nbsp;&#10067;&nbsp;(no user choice yet)</label><br/>
                  <input type='radio' name='{{ sha }}' id='action_{{ forloop.counter }}_false' value='false' {% if obj.action == 'false' %}checked{% endif %}>
                  <label for='action_{{ forloop.counter }}_false'>false&nbsp;positive&nbsp;&#9989;&nbsp;(images are not the same, I want to see them)</label><br/>
                  <input type='radio' name='{{ sha }}' id='action_{{ forloop.counter }}_keep' value='keep' {% if obj.action == 'keep' %}checked{% endif %}>
                  <label for='action_{{ forloop.counter }}_keep'>keep&nbsp;image&nbsp;&#9989;&nbsp;(I want to see this one, even if repeated)</label><br/>
                  <input type='radio' name='{{ sha }}' id='action_{{ forloop.counter }}_skip' value='skip' {% if obj.action == 'skip' %}checked{% endif %}>
                  <label for='action_{{ forloop.counter }}_skip'>skip&nbsp;image&nbsp;&#10060;&nbsp;(I don't want to see this one)</label>
                </fieldset>
              </td>
            {% endif %}
          </tr>
        {% empty %}
          <tr><td colspan='{% if current_index == -1 %}2{% else %}3{% endif %}'>Duplicate set is empty: SHOULD NEVER HAPPEN!</td></tr>
        {% endfor %}
      </table>

      {% if current_index != -1 %}
        <p><input type='submit' value='Save'></p>
      {% endif %}

    </form>

    {% if current_index != -1 %}
      <p>{% if previous_key %}<a href='{% url "duplicate" previous_key.0 %}'>&#11013;&nbsp;&nbsp;PREV</a>&nbsp;&nbsp;{% endif %}&nbsp;&nbsp;&#10037;&nbsp;&nbsp;<a href='{% url "duplicates" %}'>&#11014;</a>&nbsp;&nbsp;&#10037;&nbsp;&nbsp;{% if next_key %}&nbsp;&nbsp;<a href='{% url "duplicate" next_key.0 %}'>NEXT&nbsp;&nbsp;&#10145;</a>{% endif %}</p>
    {% else %}
      <p><a href='{% url "duplicates" %}'>(Go To: Perceptual Duplicates Page - won't list this one)</a></p>
    {% endif %}

    <p><a href='{% url "index" %}'>(Go To: Home Page)</a></p>

    {% if current_index != -1 %}

      <hr/>

      <h2>Pair Scoring Details (debugging)</h2>

      <table border='1'>
        <tr>
          <th colspan='2'>
            Image&nbsp;Pair<br/>
            (Hashes)
          </th>
          <th>
            Actual<br/>Score
          </th>
          <th>
            Normalized<br/>Score&nbsp;(0-10)
          </th>
        </tr>
        {% for source in sources %}
          <tr>
            <th colspan='4'>
              {{ source.name }}
            </th>
          </tr>
          {% for score in source.scores %}
            <tr>
              <td align='center' class='regular_hash'>
                <a href='#td_{{ score.sha1 }}'><img src='{% static score.thumb1 %}' height='60'/></a><br/>
                {{ score.key1 }}
              </td>
              <td align='center' class='regular_hash'>
                <a href='#td_{{ score.sha2 }}'><img src='{% static score.thumb2 %}' height='60'/></a><br/>
                {{ score.key2 }}
              </td>
              <td>
                {{ score.value }}
              </td>
              <td style='background-color: rgb(0, {{ score.normalized_value|green_scale }}, 0);'>
                ({{ score.normalized_value }})
              </td>
            </tr>
          {% endfor %}
        {% endfor %}
      </table>

      <p>{% if previous_key %}<a href='{% url "duplicate" previous_key.0 %}'>&#11013;&nbsp;&nbsp;PREV</a>&nbsp;&nbsp;{% endif %}&nbsp;&nbsp;&#10037;&nbsp;&nbsp;<a href='{% url "duplicates" %}'>&#11014;</a>&nbsp;&nbsp;&#10037;&nbsp;&nbsp;{% if next_key %}&nbsp;&nbsp;<a href='{% url "duplicate" next_key.0 %}'>NEXT&nbsp;&nbsp;&#10145;</a>{% endif %}</p>

      <p><a href='{% url "index" %}'>(Go To: Home Page)</a></p>

    {% endif %}

  </body>
</html>
