<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset='utf-8'/>
    <title>Imagefap-Favorites: {{ user_name|escape }} Favorites</title>
    <style>

      th, td {padding: 5px;}

    </style>
  </head>
  <body bgcolor='black' text='lightgray'>

    <h1>Favorites for User &quot;{{ user_name|escape }}&quot;</h1>

    <table border='2'>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Image&nbsp;Count</th>
        <th>Pages<br/>(in Imagefap)</th>
        <th>Last&nbsp;Fetch</th>
      </tr>
      {% for id, obj in favorites.items %}
        <tr>
          <td align='center'><a href='{% url "favorite" user_id id %}'>{{ id }}</a></td>
          <td>{{ obj.name|escape }}</td>
          <td align='center'>{{ obj.count }}</td>
          <td align='center'>{{ obj.pages }}</td>
          <td>{{ obj.date }}</td>
        </tr>
      {% empty %}
        <tr><td colspan='5'>No favorites for this user in database</td></tr>
      {% endfor %}
    </table>

    <p><a href='{% url "users" %}'>(Users Page)</a></p>

    <p><a href='{% url "index" %}'>(Home Page)</a></p>

  </body>
</html>
