<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset='utf-8'/>
    <title>Imagefap-Favorites: Favorite</title>
  </head>
  <body bgcolor='black' text='lightgray'>

    <h1>Favorite album &quot;{{ name|escape }}&quot; (ID {{ folder_id }}, User &quot;{{ user_name|escape }}&quot;)</h1>

    <p>Total {{ count }} images (in {{ pages }} pages). Last fetched on {{ date }}.</p>

    {% load static %}

    <table border='2'>
      {% for sha_group in stacked_blobs %}
        <tr>
          {% for sha in sha_group %}
            {% if sha %}
              {% with blob=blobs_data|lookup:sha %}
                <td align='center' valign='center'>
                  <a href='{% url "blob" sha %}'>
                    <img src='{% static blob.thumb %}' title='{{ blob.name|escape }}&#10;{{ blob.sz }} - {{ blob.dimensions }}&#10;{{ blob.tags|escape }}'/>
                  </a>
                </td>
              {% endwith %}
            {% else %}
              <td></td>
            {% endif %}
          {% endfor %}
        </tr>
      {% empty %}
        <tr><td colspan='4'>No images in this favorite album</td></tr>
      {% endfor %}
    </table>

    <p><a href='{% url "favorites" user_id %}'>(User &quot;{{ user_name|escape }}&quot; Page)</a></p>

    <p><a href='{% url "users" %}'>(Users Page)</a></p>

    <p><a href='{% url "index" %}'>(Home Page)</a></p>

  </body>
</html>
