<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset='utf-8'/>
    <title>Imagefap-Favorites: Favorite {{ user_name|escape }}/{{ name|escape }}</title>
    <style>

      a.filter_show {color: green;}
      a.filter_show:visited {color: green;}
      a.filter_show:hover {color: green;}
      a.filter_show:active {color: green;}

      a.filter_hide {color: red;}
      a.filter_hide:visited {color: red;}
      a.filter_hide:hover {color: red;}
      a.filter_hide:active {color: red;}

      th, td {padding: 5px;}

      td.duplicate {
        border-color: red;
        background-color: red;
      }
      td.percept {
        border-color: fuchsia;
        background-color: fuchsia;
      }

    </style>
  </head>
  <body bgcolor='black' text='lightgray'>

    <h1>Favorite album <i>&quot;{{ name|escape }}&quot;</i> (User <i>&quot;{{ user_name|escape }}&quot;</i>)</h1>

    <p>Total {{ count }} images (in {{ pages }} pages). Last fetched on {{ date }}.</p>

    <table>
      <tr>
        <td>
          {% if show_duplicates %}
            <a href='{% url "favorite" user_id folder_id %}?dup=0&{{ portrait_url }}&{{ landscape_url }}' class='filter_show'>
              Duplicates: ON
            </a><br/>
          {% else %}
            <a href='{% url "favorite" user_id folder_id %}?dup=1&{{ portrait_url }}&{{ landscape_url }}' class='filter_hide'>
              Duplicates: OFF
            </a>
          {% endif %}
        </td>
        <td>&nbsp;&nbsp;(images marked in <span style='color: red;'>RED</span> below have exact duplicates in this album; images in <span style='color: fuchsia;'>FUCHSIA</span> have been marked &quot;skip&quot; in perceptual duplicates)</td>
      </tr>
      <tr>
        <td>
          {% if show_portraits %}
            <a href='{% url "favorite" user_id folder_id %}?{{ dup_url }}&portrait=0&{{ landscape_url }}' class='filter_show'>
              Portrait-Aspect Images: ON
            </a>
          {% else %}
            <a href='{% url "favorite" user_id folder_id %}?{{ dup_url }}&portrait=1&{{ landscape_url }}' class='filter_hide'>
              Portrait-Aspect Images: OFF
            </a>
          {% endif %}
        </td>
        <td>&nbsp;&nbsp;(images with <b>height</b> more than 10% larger than <b>width</b>)</td>
      </tr>
      <tr>
        <td>
          {% if show_landscapes %}
            <a href='{% url "favorite" user_id folder_id %}?{{ dup_url }}&{{ portrait_url }}&landscape=0' class='filter_show'>
              Landscape-Aspect Images: ON
            </a>
          {% else %}
            <a href='{% url "favorite" user_id folder_id %}?{{ dup_url }}&{{ portrait_url }}&landscape=1' class='filter_hide'>
              Landscape-Aspect Images: OFF
            </a>
          {% endif %}
        </td>
        <td>&nbsp;&nbsp;(images with <b>width</b> more than 10% larger than <b>height</b>)</td>
      </tr>
    </table>

    {% load static %}

    <p>&nbsp;</p>

    <table border='2'>
      {% for sha_group in stacked_blobs %}
        <tr>
          {% for img, sha in sha_group %}
            {% if sha %}
              {% with blob=blobs_data|lookup:sha %}
                <td align='center' valign='center' {% if blob.is_duplicate %}class='duplicate'{% endif %} {% if blob.is_percept %}class='percept'{% endif %}>
                  <a href='{% url "blob" sha %}'>
                    <img src='{% static blob.thumb %}' title='{{ blob.name|escape }}&#10;{{ blob.sz }} - {{ blob.dimensions }}&#10;{{ blob.tags|escape }}'/>
                  </a>
                </td>
              {% endwith %}
            {% else %}
              <td></td>
            {% endif %}
          {% endfor %}
        </tr>
      {% empty %}
        <tr><td colspan='4'>No images in this favorite album</td></tr>
      {% endfor %}
    </table>

    <p><a href='{% url "favorites" user_id %}'>(Go To: User <i>&quot;{{ user_name|escape }}&quot;</i> Page)</a></p>

    <p><a href='{% url "users" %}'>(Go To: Users Page)</a></p>

    <p><a href='{% url "index" %}'>(Go To: Home Page)</a></p>

  </body>
</html>
