<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset='utf-8'/>
    <title>Imagefap-Favorites: Favorite {{ user_name|escape }}/{{ name|escape }}</title>
    {% include "./images_head.html" %}
  </head>
  <body bgcolor='black' text='lightgray'>

    <h1>Favorite album <i>&quot;{{ name|escape }}&quot;</i> (User <i>&quot;{{ user_name|escape }}&quot;</i>)</h1>

    <p>Total {{ count }} images (in {{ pages }} pages). Last fetched on {{ date }}.</p>

    {% if error_message %}
      <p style='color: red;'><strong>{{ error_message }}</strong></p>
      <p>&nbsp;</p>
    {% endif %}
    {% if warning_message %}
      <p style='color: yellow;'><strong>{{ warning_message }}</strong></p>
      <p>&nbsp;</p>
    {% endif %}

    {% url "favorite" user_id folder_id as favorite_url %}
    {% include "./images.html" with page_url=favorite_url %}

    <p>&nbsp;</p>

    {% if failed_data %}
      <table border='2'>
        <tr>
          <th colspan='4'><i>{{ failed_count }} failed images in this album</i></th>
        </tr>
        <tr>
          <th>ID&nbsp;(&amp;&nbsp;link)</th>
          <th>Failure&nbsp;Time</th>
          <th>Image&nbsp;Name</th>
          <th>Full-Resolution&nbsp;Link</th>
        </tr>
        {% for failed in failed_data %}
          <tr>
            <td>
              {{ failed.id }}&nbsp;<small><a href='{{ failed.img_page }}' class='external' title='Image page in Imagefap' target='_blank' rel='noopener noreferrer'>&#128279;</a></small>
            </td>
            <td>{{ failed.time }}</td>
            <td>{{ failed.name|escape }}</td>
            <td align='center'>
              {% if failed.url %}
                <small><a href='{{ failed.url }}' class='external' title='Image full-res in Imagefap' target='_blank' rel='noopener noreferrer'>&#128279;</a></small>
              {% else %}
                -
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p><i>(No failed images in this album.)</i></p>
      <p>&nbsp;</p>
    {% endif %}

    {% include "./images_selected_form.html" with page_url=favorite_url %}

    <p><a href='{% url "favorites" user_id %}'>(Go To: User <i>&quot;{{ user_name|escape }}&quot;</i> Page)</a></p>

    <p><a href='{% url "users" %}'>(Go To: Users Page)</a></p>

    <p><a href='{% url "index" %}'>(Go To: Home Page)</a></p>

  </body>
</html>
