<form id='selected_form' name='selected_form'
    action='{{ page_url }}?{{ dup_url }}&{{ portrait_url }}&{{ landscape_url }}&{{ tagging_url }}&{{ tag_url_1 }}&{{ tag_url_2 }}&{{ value_url_1 }}&{{ value_url_2 }}'
    method='post'>
  {% csrf_token %}

  <input id='selected_blobs' name='selected_blobs' type='hidden' value=''/>
  <input id='clear_tag' name='clear_tag' type='hidden' value='{{ clear_tag_id }}'/>

  {% if locked_for_tagging and form_tags %}

    <p>
      <label for='tag_select'>Tag selected images with:</label>
      <select name='tag_select' id='tag_select'>
        <option value=''{% if not selected_tag %} selected{% endif %}>-- Please choose a tag --</option>
        {% for id, _, parents in form_tags %}
          <option value='{{ id }}'{% if selected_tag == id %} selected{% endif %}>{{ parents|escape }}</option>
        {% endfor %}
      </select>&nbsp;&nbsp;&nbsp;
      <input type='submit' value='Save Tag' onClick='return set_tag_form_submit();'/>
    </p>
    <p>&nbsp;</p>

    {% if clear_tag_id %}
      <p>
        Remove tag {{ tag_name|escape }} from selected images:&nbsp;&nbsp;&nbsp;
        <input type='submit' value='Remove {{ clear_tag_name|escape }}' onClick='return clear_tag_form_submit();'/>
      </p>
      <p>&nbsp;</p>
    {% endif %}

  {% endif %}

</form>
