<table border='1'>
  <tr><th colspan='2' align='center'><i>FILTERS</i></th></tr>
  <tr>
    <td>
      {% if show_duplicates %}
        <a href='{{ page_url }}?dup=0&{{ portrait_url }}&{{ landscape_url }}&{{ tagging_url }}&{{ tag_url_1 }}&{{ tag_url_2 }}&{{ value_url_1 }}&{{ value_url_2 }}' class='filter_show'>
          Duplicates: <i><b>ON</i></b>
        </a><br/>
      {% else %}
        <a href='{{ page_url }}?dup=1&{{ portrait_url }}&{{ landscape_url }}&{{ tagging_url }}&{{ tag_url_1 }}&{{ tag_url_2 }}&{{ value_url_1 }}&{{ value_url_2 }}' class='filter_hide'>
          Duplicates: <i><b>OFF</i></b>
        </a>
      {% endif %}
    </td>
    <td>
      {% if not locked_for_tagging %}
        images marked <span style='color: red;'>RED</span> have exact duplicates <i>in this album</i>;<br/>
        images marked <span style='color: fuchsia;'>FUCHSIA</span> have exact duplicates somewhere <i>not in the album</i>;<br/>
        images marked <span style='color: purple;'>PURPLE</span> have (non false-positive) perceptual duplicates <i>somewhere</i>
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      Portrait-Aspect&nbsp;Images:&nbsp;
      {% if not show_portraits %}
        <i><b>Don't&nbsp;Show</b></i>&nbsp;&nbsp;/&nbsp;&nbsp;<a href='{{ page_url }}?{{ dup_url }}&portrait=1&{{ landscape_url }}&{{ tagging_url }}&{{ tag_url_1 }}&{{ tag_url_2 }}&{{ value_url_1 }}&{{ value_url_2 }}'>Allow</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a href='{{ page_url }}?{{ dup_url }}&portrait=2&{{ landscape_url }}&{{ tagging_url }}&{{ tag_url_1 }}&{{ tag_url_2 }}&{{ value_url_1 }}&{{ value_url_2 }}'>Only&nbsp;Show</a>
      {% endif %}
      {% if show_portraits == 1 %}
        <a href='{{ page_url }}?{{ dup_url }}&portrait=0&{{ landscape_url }}&{{ tagging_url }}&{{ tag_url_1 }}&{{ tag_url_2 }}&{{ value_url_1 }}&{{ value_url_2 }}'>Don't&nbsp;Show</a>&nbsp;&nbsp;/&nbsp;&nbsp;<i><b>Allow</b></i>&nbsp;&nbsp;/&nbsp;&nbsp;<a href='{{ page_url }}?{{ dup_url }}&portrait=2&{{ landscape_url }}&{{ tagging_url }}&{{ tag_url_1 }}&{{ tag_url_2 }}&{{ value_url_1 }}&{{ value_url_2 }}'>Only&nbsp;Show</a>
      {% endif %}
      {% if show_portraits == 2 %}
        <a href='{{ page_url }}?{{ dup_url }}&portrait=0&{{ landscape_url }}&{{ tagging_url }}&{{ tag_url_1 }}&{{ tag_url_2 }}&{{ value_url_1 }}&{{ value_url_2 }}'>Don't&nbsp;Show</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a href='{{ page_url }}?{{ dup_url }}&portrait=1&{{ landscape_url }}&{{ tagging_url }}&{{ tag_url_1 }}&{{ tag_url_2 }}&{{ value_url_1 }}&{{ value_url_2 }}'>Allow</a>&nbsp;&nbsp;/&nbsp;&nbsp;<i><b>Only&nbsp;Show</b></i>
      {% endif %}
    </td>
    <td>(images with <b>height</b> more than 10% larger than <b>width</b>)</td>
  </tr>
  <tr>
    <td>
      Landscape-Aspect&nbsp;Images:&nbsp;
      {% if not show_landscapes %}
        <i><b>Don't&nbsp;Show</b></i>&nbsp;&nbsp;/&nbsp;&nbsp;<a href='{{ page_url }}?{{ dup_url }}&{{ portrait_url }}&landscape=1&{{ tagging_url }}&{{ tag_url_1 }}&{{ tag_url_2 }}&{{ value_url_1 }}&{{ value_url_2 }}'>Allow</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a href='{{ page_url }}?{{ dup_url }}&{{ portrait_url }}&landscape=2&{{ tagging_url }}&{{ tag_url_1 }}&{{ tag_url_2 }}&{{ value_url_1 }}&{{ value_url_2 }}'>Only&nbsp;Show</a>
      {% endif %}
      {% if show_landscapes == 1 %}
        <a href='{{ page_url }}?{{ dup_url }}&{{ portrait_url }}&landscape=0&{{ tagging_url }}&{{ tag_url_1 }}&{{ tag_url_2 }}&{{ value_url_1 }}&{{ value_url_2 }}'>Don't&nbsp;Show</a>&nbsp;&nbsp;/&nbsp;&nbsp;<b><i>Allow</b></i>&nbsp;&nbsp;/&nbsp;&nbsp;<a href='{{ page_url }}?{{ dup_url }}&{{ portrait_url }}&landscape=2&{{ tagging_url }}&{{ tag_url_1 }}&{{ tag_url_2 }}&{{ value_url_1 }}&{{ value_url_2 }}'>Only&nbsp;Show</a>
      {% endif %}
      {% if show_landscapes == 2 %}
        <a href='{{ page_url }}?{{ dup_url }}&{{ portrait_url }}&landscape=0&{{ tagging_url }}&{{ tag_url_1 }}&{{ tag_url_2 }}&{{ value_url_1 }}&{{ value_url_2 }}'>Don't&nbsp;Show</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a href='{{ page_url }}?{{ dup_url }}&{{ portrait_url }}&landscape=1&{{ tagging_url }}&{{ tag_url_1 }}&{{ tag_url_2 }}&{{ value_url_1 }}&{{ value_url_2 }}'>Allow</a>&nbsp;&nbsp;/&nbsp;&nbsp;<b><i>Only&nbsp;Show</b></i>
      {% endif %}
    </td>
    <td>(images with <b>width</b> more than 10% larger than <b>height</b>)</td>
  </tr>
  <tr>
    <td>
      <label for='tag_filter_1'>Tag:</label>
      <select name='tag_filter_1' id='tag_filter_1' onChange='tag_filter_reload(1, this.value);'>
        <option value='0'{% if not tag_value_1 %} selected{% endif %}>-- Please choose a tag --</option>
        {% for id, _, parents in form_tags %}
          <option value='{{ id }}'{% if tag_value_1 == id %} selected{% endif %}>{{ parents|escape }}</option>
        {% endfor %}
      </select>&nbsp;&nbsp;
      {% if not tag_filter_1 %}
        <i><b>Don't&nbsp;Show</b></i>&nbsp;&nbsp;/&nbsp;&nbsp;<a href='{{ page_url }}?{{ dup_url }}&{{ portrait_url }}&{{ landscape_url }}&{{ tagging_url }}&tf1=1&{{ tag_url_2 }}&{{ value_url_1 }}&{{ value_url_2 }}'>Allow</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a href='{{ page_url }}?{{ dup_url }}&{{ portrait_url }}&{{ landscape_url }}&{{ tagging_url }}&tf1=2&{{ tag_url_2 }}&{{ value_url_1 }}&{{ value_url_2 }}'>Only&nbsp;Show</a>
      {% endif %}
      {% if tag_filter_1 == 1 %}
        <a href='{{ page_url }}?{{ dup_url }}&{{ portrait_url }}&{{ landscape_url }}&{{ tagging_url }}&tf1=0&{{ tag_url_2 }}&{{ value_url_1 }}&{{ value_url_2 }}'>Don't&nbsp;Show</a>&nbsp;&nbsp;/&nbsp;&nbsp;<b><i>Allow</b></i>&nbsp;&nbsp;/&nbsp;&nbsp;<a href='{{ page_url }}?{{ dup_url }}&{{ portrait_url }}&{{ landscape_url }}&{{ tagging_url }}&tf1=2&{{ tag_url_2 }}&{{ value_url_1 }}&{{ value_url_2 }}'>Only&nbsp;Show</a>
      {% endif %}
      {% if tag_filter_1 == 2 %}
        <a href='{{ page_url }}?{{ dup_url }}&{{ portrait_url }}&{{ landscape_url }}&{{ tagging_url }}&tf1=0&{{ tag_url_2 }}&{{ value_url_1 }}&{{ value_url_2 }}'>Don't&nbsp;Show</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a href='{{ page_url }}?{{ dup_url }}&{{ portrait_url }}&{{ landscape_url }}&{{ tagging_url }}&tf1=1&{{ tag_url_2 }}&{{ value_url_1 }}&{{ value_url_2 }}'>Allow</a>&nbsp;&nbsp;/&nbsp;&nbsp;<b><i>Only&nbsp;Show</b></i>
      {% endif %}
    </td>
    <td>(filter by this tag and its children)</td>
  </tr>
  <tr>
    <td>
      <label for='tag_filter_2'>Tag:</label>
      <select name='tag_filter_2' id='tag_filter_2' onChange='tag_filter_reload(2, this.value);'>
        <option value='0'{% if not tag_value_2 %} selected{% endif %}>-- Please choose a tag --</option>
        {% for id, _, parents in form_tags %}
          <option value='{{ id }}'{% if tag_value_2 == id %} selected{% endif %}>{{ parents|escape }}</option>
        {% endfor %}
      </select>&nbsp;&nbsp;
      {% if not tag_filter_2 %}
        <i><b>Don't&nbsp;Show</b></i>&nbsp;&nbsp;/&nbsp;&nbsp;<a href='{{ page_url }}?{{ dup_url }}&{{ portrait_url }}&{{ landscape_url }}&{{ tagging_url }}&{{ tag_url_1 }}&tf2=1&{{ value_url_1 }}&{{ value_url_2 }}'>Allow</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a href='{{ page_url }}?{{ dup_url }}&{{ portrait_url }}&{{ landscape_url }}&{{ tagging_url }}&{{ tag_url_1 }}&tf2=2&{{ value_url_1 }}&{{ value_url_2 }}'>Only&nbsp;Show</a>
      {% endif %}
      {% if tag_filter_2 == 1 %}
        <a href='{{ page_url }}?{{ dup_url }}&{{ portrait_url }}&{{ landscape_url }}&{{ tagging_url }}&{{ tag_url_1 }}&tf2=0&{{ value_url_1 }}&{{ value_url_2 }}'>Don't&nbsp;Show</a>&nbsp;&nbsp;/&nbsp;&nbsp;<b><i>Allow</b></i>&nbsp;&nbsp;/&nbsp;&nbsp;<a href='{{ page_url }}?{{ dup_url }}&{{ portrait_url }}&{{ landscape_url }}&{{ tagging_url }}&{{ tag_url_1 }}&tf2=2&{{ value_url_1 }}&{{ value_url_2 }}'>Only&nbsp;Show</a>
      {% endif %}
      {% if tag_filter_2 == 2 %}
        <a href='{{ page_url }}?{{ dup_url }}&{{ portrait_url }}&{{ landscape_url }}&{{ tagging_url }}&{{ tag_url_1 }}&tf2=0&{{ value_url_1 }}&{{ value_url_2 }}'>Don't&nbsp;Show</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a href='{{ page_url }}?{{ dup_url }}&{{ portrait_url }}&{{ landscape_url }}&{{ tagging_url }}&{{ tag_url_1 }}&tf2=1&{{ value_url_1 }}&{{ value_url_2 }}'>Allow</a>&nbsp;&nbsp;/&nbsp;&nbsp;<b><i>Only&nbsp;Show</b></i>
      {% endif %}
    </td>
    <td>(filter by this tag and its children)</td>
  </tr>
  <tr>
    {% if locked_for_tagging %}
      <td>
        <a href='{{ page_url }}?{{ dup_url }}&{{ portrait_url }}&{{ landscape_url }}&lock=0&{{ tag_url_1 }}&{{ tag_url_2 }}&{{ value_url_1 }}&{{ value_url_2 }}' class='filter_show'>
          Locked for Tagging: <i><b>ON</i></b>
        </a>&nbsp;&nbsp;&#128274;
      </td>
      <td>(clicking on images will <i><b>select</i></b> them, tagging options available at bottom)</td>
    {% else %}
      <td>
        <a href='{{ page_url }}?{{ dup_url }}&{{ portrait_url }}&{{ landscape_url }}&lock=1&{{ tag_url_1 }}&{{ tag_url_2 }}&{{ value_url_1 }}&{{ value_url_2 }}' class='filter_hide'>
          Locked for Tagging: <i><b>OFF</i></b>
        </a>&nbsp;&nbsp;&#128275;
      </td>
      <td>clicking on images will <i><b>open</i></b> them, no selection of images enabled</td>
    {% endif %}
  </tr>
  <tr>
    <td colspan='2'>
      {% if locked_for_tagging %}
        The image icon (<small><small>&#128444;</small></small>) will take you to the local image (blob) for inspection (this is always fine, only opens locally).<br/>
        Click on the images to select or deselect them. Selected images will show in <span style='color: peru;'>PERU</span> color.<br/>
        If you reload the page you will lose your selection! Go to the bottom of this page (<i>Ctrl+End</i>) to tag them.<br/>
        {% if not tags %}
          <b><i><span style='color: red;'>ATTENTION: You have NO tags, so selecting images will serve NO purpose!</span> <a href='{% url "tag" 0 %}?{{ dup_url }}&{{ portrait_url }}&{{ landscape_url }}&{{ tagging_url }}&{{ tag_url_1 }}&{{ tag_url_2 }}&{{ value_url_1 }}&{{ value_url_2 }}'>Create tags first?</a></i></b><br/>
        {% endif %}
      {% endif %}
      The link icon (<small><small>&#128279;</small></small>) will take you to Imagefap original image: <b><i>beware</i></b>, as clicking will open Imagefap site!<br/>
      The <i>"gemini"</i> icon in duplicate images (<small>&#9802;</small>) will open the page showing the duplicates set for inspection and action.<br/>
      {% if locked_for_tagging %}
        Images that disappeared from the site have an expandable section at the end.
      {% else %}
        Images marked <span style='color: midnightblue;'>MIDNIGHT BLUE</span> have disappeared from site. They also have an expandable section at the end.
      {% endif %}
    </td>
  </tr>
  {% if locked_for_tagging %}
    <tr>
      <td colspan='2' align='right'>
        <b><i>
          <a onclick='javascript:select_all();' class='filter_show'>Select ALL</a>&nbsp;&nbsp;&nbsp;&#10037;&nbsp;&nbsp;&nbsp;
          <a onclick='javascript:select_none();' class='filter_show'>Select NONE</a>
        </i></b>
      </td>
    </tr>
  {% endif %}
</table>

<p><small>({{ count }} images in selection)</small></p>

<table border='2'>
  {% for sha_group in stacked_blobs %}
    <tr>
      {% for img, sha in sha_group %}
        {% if sha %}
          {% with blob=blobs_data|lookup:sha %}
            {% if locked_for_tagging %}
              <td align='center' valign='center' id='{{ sha }}' class='unselected'>
                <img src='{% url "thumb" sha %}' {% if blob.fap_id %}id='{{ blob.fap_id }}'{% endif %}
                    onclick='javascript:switch_selection("{{ sha }}");'
                    title='{{ blob.name|escape }}&#10;{{ blob.sz }} - {{ blob.dimensions }}{% if blob.tags %}&#10;{{ blob.tags|escape }}{% endif %}&#10;{{ blob.date }}{% if blob.has_duplicate %}&#10;has exact duplicate{% endif %}{% if blob.has_percept %}&#10;has perceptual duplicate{% endif %}'/><br/>
                <small><small>
                  <a href='{% url "blob" sha %}' target='_blank' rel='noopener noreferrer'>&#128444;</a>&nbsp;&nbsp;
                  <a href='{{ blob.imagefap }}' class='external' title='{% for gone in blob.gone %}{{ gone.0 }} - {{ gone.1 }} - {{ gone.2 }} missing&#10;{% empty %}Image in Imagefap{% endfor %}' target='_blank' rel='noopener noreferrer'>{% if blob.gone %}&#9986;{% else %}&#128279;{% endif %}</a>&nbsp;&nbsp;
                </small>
                  {% if blob.album_duplicate or blob.has_duplicate or blob.has_percept %}
                    <a href='{% url "duplicate" sha %}' class='external' title='{{ blob.duplicate_hints }}' target='_blank' rel='noopener noreferrer'>&#9802;</a>
                  {% endif %}
                </small>
              </td>
            {% else %}
              <td align='center' valign='center'
                  {% if blob.album_duplicate %}class='album_duplicate'{% else %}
                  {% if blob.has_duplicate %}class='has_duplicate'{% else %}
                  {% if blob.has_percept %}class='has_perceptual'{% else %}
                  {% if blob.gone %}class='has_disappeared'{% endif %}{% endif %}{% endif %}{% endif %}>
                <a href='{% url "blob" sha %}' target='_blank' rel='noopener noreferrer'>
                  <img src='{% url "thumb" sha %}' {% if blob.fap_id %}id='{{ blob.fap_id }}'{% endif %}
                      title='{{ blob.name|escape }}&#10;{{ blob.sz }} - {{ blob.dimensions }}{% if blob.tags %}&#10;{{ blob.tags|escape }}{% endif %}&#10;{{ blob.date }}{% if blob.has_duplicate %}&#10;has exact duplicate{% endif %}{% if blob.has_percept %}&#10;has perceptual duplicate{% endif %}'/></a>
                &nbsp;<small><small>
                  <a href='{{ blob.imagefap }}' class='external' title='{% for gone in blob.gone %}{{ gone.0 }} - {{ gone.1 }} - {{ gone.2 }} missing&#10;{% empty %}Image in Imagefap{% endfor %}' target='_blank' rel='noopener noreferrer'>{% if blob.gone %}&#9986;{% else %}&#128279;{% endif %}</a>
                </small>
                {% if blob.album_duplicate or blob.has_duplicate or blob.has_percept %}
                  <a href='{% url "duplicate" sha %}' class='external' title='{{ blob.duplicate_hints }}' target='_blank' rel='noopener noreferrer'>&#9802;</a>
                {% endif %}
                </small>
              </td>
            {% endif %}
          {% endwith %}
        {% else %}
          <td></td>
        {% endif %}
      {% endfor %}
    </tr>
  {% empty %}
    <tr><td colspan='10'>No images for this selection</td></tr>
  {% endfor %}
</table>

<p>&nbsp;</p>

<details>
  <summary>
    Disappeared Images Section ({{ count_disappeared }} images) - EXPAND&nbsp;&nbsp;<span class="icon">&#128071;</span>
    <p>&nbsp;</p>
  </summary>
  <table border='2' class='disappeared'>
    <tr><th colspan='10'>Images That Disappeared From Site <i>(non-selectable table)</i></th></tr>
    {% for sha_group in stacked_disappeared %}
      <tr>
        {% for img, sha in sha_group %}
          {% if sha %}
            {% with blob=blobs_data|lookup:sha %}
              <td align='center' valign='center'
                  {% if blob.album_duplicate %}class='album_duplicate'{% else %}
                  {% if blob.has_duplicate %}class='has_duplicate'{% else %}
                  {% if blob.has_percept %}class='has_perceptual'{% else %}
                  {% if blob.gone %}class='has_disappeared'{% endif %}{% endif %}{% endif %}{% endif %}>
                <a href='{% url "blob" sha %}' target='_blank' rel='noopener noreferrer'>
                  <img src='{% url "thumb" sha %}' title='{{ blob.name|escape }}&#10;{{ blob.sz }} - {{ blob.dimensions }}{% if blob.tags %}&#10;{{ blob.tags|escape }}{% endif %}&#10;{{ blob.date }}{% if blob.has_duplicate %}&#10;has exact duplicate{% endif %}{% if blob.has_percept %}&#10;has perceptual duplicate{% endif %}'/></a>
                &nbsp;<small><small>
                  <a href='{{ blob.imagefap }}' class='external' title='{% for gone in blob.gone %}{{ gone.0 }} - {{ gone.1 }} - {{ gone.2 }} missing&#10;{% empty %}Image in Imagefap{% endfor %}' target='_blank' rel='noopener noreferrer'>{% if blob.gone %}&#9986;{% else %}&#128279;{% endif %}</a>
                </small>
                {% if blob.album_duplicate or blob.has_duplicate or blob.has_percept %}
                  <a href='{% url "duplicate" sha %}' class='external' title='{{ blob.duplicate_hints }}' target='_blank' rel='noopener noreferrer'>&#9802;</a>
                {% endif %}
                </small>
              </td>
            {% endwith %}
          {% else %}
            <td></td>
          {% endif %}
        {% endfor %}
      </tr>
    {% empty %}
      <tr><td colspan='10'>No images have disappeared in this selection</td></tr>
    {% endfor %}
  </table>
</details>
