<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset='utf-8'/>
    <title>Imagefap-Favorites Local Viewer</title>
  </head>
  <body bgcolor='black' text='lightgray'>

    <h1>Imagefap-Favorites Local Viewer</h1>

    <p>
      {% for line in database_stats %}
        {{ line }}<br/>
      {% endfor %}
    </p>

    <a href='{% url "users" %}'><h2>Users</h2></a>

    <p><b>{{ users }}</b> users in DB</p>

    <a href='{% url "tags" %}'><h2>Tags</h2></a>

    <p><b>{{ tags }}</b> tags in DB</p>

    <a href='{% url "duplicates" %}'><h2>Perceptual Duplicates</h2></a>

    <p>
      <b>{{ duplicates }}</b> perceptual duplicate groups in DB<br/>
      <b>{{ dup_action }}</b> need user action
    </p>

  </body>
</html>
