<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset='utf-8'/>
    <title>Imagefap Favorites: Local Viewer &amp; Organizer</title>
  </head>
  <body bgcolor='black' text='lightgray'>

    <h1><i><u>Imagefap</u> <u>Favorites</u>:</i> Local Viewer &amp; Organizer</h1>

    <p>
      {% for line in database_stats %}
        {{ line }}<br/>
      {% endfor %}
    </p>

    <a href='{% url "users" %}'><h2>Users</h2></a>

    <p><b>{{ users }}</b> users in DB</p>

    <a href='{% url "tag" 0 %}?dup=0&portrait=1&landscape=1&lock=0&tf1=1&tf2=1&tv1=0&tv2=0'><h2>Tags</h2></a>

    <p><b>{{ tags }}</b> tags in DB</p>

    <a href='{% url "duplicates" %}'><h2>Duplicates</h2></a>

    <p>
      <b>{{ identical }}</b> <i><b>identical</b></i> duplicate groups in DB<br/>
      <b>{{ id_action }}</b> need user action
    </p>

    <p>
      <b>{{ duplicates }}</b> <i><b>perceptual</b></i> duplicate groups in DB<br/>
      <b>{{ dup_action }}</b> need user action
    </p>

  </body>
</html>
