<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset='utf-8'/>
    <title>
      Imagefap-Favorites: {% if tag_id %}Tag {{ tag_name|escape }}{% else %}Root Tags{% endif %}
    </title>
    {% include "./images_head.html" %}
  </head>
  <body bgcolor='black' text='lightgray'>

    <h1>
      {% if tag_id %}
        Tag <i>&quot;{{ tag_name|escape }}&quot;</i>
      {% else %}
        Root Tags
      {% endif %}
    </h1>

    {% if error_message %}
      <p style='color: red;'><strong>{{ error_message }}</strong></p>
      <p>&nbsp;</p>
    {% endif %}
    {% if warning_message %}
      <p style='color: yellow;'><strong>{{ warning_message }}</strong></p>
      <p>&nbsp;</p>
    {% endif %}

    <table border='2'>
      {% if tag_id %}
        <tr>
          <th colspan='4'>Sub-Tags of <i>&quot;{{ tag_name|escape }}&quot;</i></th>
        </tr>
      {% endif %}
      <tr>
        <th>ID</th>
        <th>Tag&nbsp;Name</th>
        <th>Children&nbsp;(Sub-Tags)</th>
        <th>Del?</th>
      </tr>
      {% for id, name, parents, depth in tags %}
        <tr>
          <td align='center'><a href='{% url "tag" id %}?{{ dup_url }}&{{ portrait_url }}&{{ landscape_url }}&{{ tagging_url }}'>{{ id }}</a></td>
          {% if depth == page_depth %}
            <td>{{ name|escape }}</td>
            <td>&nbsp;</td>
            <td align='center'>
              <a href='javascript:{}' class='delete' onclick='javascript:delete_tag({{ id }}, "{{ name|escape }}");'>
                &#10060;
              </a>
            </td>
          {% else %}
            <td>&nbsp;</td>
            <td>{{ parents|escape }}</td>
            <td>&nbsp;</td>
          {% endif %}
        </tr>
      {% empty %}
        <tr>
          <td colspan='4'>
            {% if tag_id %}
              No sub-tags at this level:
              create new below or <a href='{% url "tag" 0 %}?{{ dup_url }}&{{ portrait_url }}&{{ landscape_url }}&{{ tagging_url }}'>go back to root</a>?
            {% else %}
              No tags in database: create new tags below?
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>

    <form id='create_form' action='{% url "tag" tag_id %}?{{ dup_url }}&{{ portrait_url }}&{{ landscape_url }}&{{ tagging_url }}' method='post'>
      {% csrf_token %}
      <p>
        {% if tag_id %}
          Create a new child tag under <i>&quot;{{ tag_name|escape }}&quot;</i>
        {% else %}
          Create a new top-level tag
        {% endif %}
        named:&nbsp;&nbsp;<input type='text' name='named_child'/>&nbsp;&nbsp;<input type='submit' value='Create'/>
      </p>
    </form>

    {% if tag_id and tag_simple_name %}
      <form id='rename_form' action='{% url "tag" tag_id %}?{{ dup_url }}&{{ portrait_url }}&{{ landscape_url }}&{{ tagging_url }}' method='post'>
        {% csrf_token %}
        <p>
          Rename this tag to:&nbsp;&nbsp;<input type='text' name='rename_tag' value='{{ tag_simple_name|escape }}'/>&nbsp;&nbsp;<input type='submit' value='Rename'/>
        </p>
      </form>
    {% endif %}

    {% url "tag" tag_id as tag_url %}
    {% include "./images.html" with page_url=tag_url %}
    {% include "./images_selected_form.html" with page_url=tag_url %}

    <form id='delete_form' name='delete_form' action='{% url "tag" tag_id %}?{{ dup_url }}&{{ portrait_url }}&{{ landscape_url }}&{{ tagging_url }}' method='post'>
      {% csrf_token %}
      <input id='delete_input' name='delete_input' type='hidden' value=''/>
    </form>

    {% if tag_id %}

      {% if page_depth %}

        <p><a href='{% url "tag" page_depth_up %}?{{ dup_url }}&{{ portrait_url }}&{{ landscape_url }}&{{ tagging_url }}'>(Go To: Up &#11014; One Level)</a></p>

      {% endif %}

      <p><a href='{% url "tag" 0 %}?{{ dup_url }}&{{ portrait_url }}&{{ landscape_url }}&{{ tagging_url }}'>(Go To: Root Tags)</a></p>

    {% endif %}

    <p><a href='{% url "index" %}'>(Go To: Home Page)</a></p>

  </body>
</html>
