<!DOCTYPE html>
<html lang='en-US'>
  <head>
    <meta charset='utf-8'/>
    <title>Imagefap-Favorites: Users</title>
    <style>

      th, td {padding: 5px;}

      a.delete {text-decoration: none;}

    </style>
    <script type='text/javascript' language='javascript'>

      function delete_user(id, name) {
        if (confirm('Permanently delete user "' + name + '" and wipe all downloaded albums and images in the database?') == true) {
          document.forms['delete_form']['delete_input'].value = id;
          document.forms['delete_form'].submit();
        }
      };

    </script>
  </head>
  <body bgcolor='black' text='lightgray'>

    <h1>Users</h1>

    <p><b>{{ user_count }}</b> users collected</p>

    {% if error_message %}
      <p style='color: red;'><strong>{{ error_message }}</strong></p>
      <p>&nbsp;</p>
    {% endif %}
    {% if warning_message %}
      <p style='color: yellow;'><strong>{{ warning_message }}</strong></p>
      <p>&nbsp;</p>
    {% endif %}

    <table border='2'>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Image<br/>Count</th>
        <th>Failed<br/>Count</th>
        <th>Animated<br/>Count</th>
        <th>Files<br/>Size</th>
        <th>Min</th>
        <th>Max</th>
        <th>Mean</th>
        <th>StdDev</th>
        <th>Thumbs<br/>Size</th>
        <th>Date&nbsp;Got<br/>Albums</th>
        <th>Date&nbsp;Got<br/>Everything</th>
        <th>Del?</th>
      </tr>
      {% for id, obj in users.items %}
        <tr>
          <td align='center'><a href='{% url "favorites" id %}'>{{ id }}</a></td>
          <td>{{ obj.name|escape }}</td>
          <td align='center'>{{ obj.n_img }}</td>
          <td align='center'>{{ obj.n_failed }}</td>
          <td align='center'>{{ obj.n_animated }}</td>
          <td align='center'>{{ obj.files_sz }}</td>
          <td align='center'>{{ obj.min_sz }}</td>
          <td align='center'>{{ obj.max_sz }}</td>
          <td align='center'>{{ obj.mean_sz }}</td>
          <td align='center'>{{ obj.dev_sz }}</td>
          <td align='center'>{{ obj.thumbs_sz }}</td>
          <td align='center'>{{ obj.date_albums }}</td>
          <td align='center'>{{ obj.date_finished }}</td>
          <td align='center'>
            <a href='javascript:{}' class='delete' onclick='javascript:delete_user({{ id }}, "{{ obj.name|escape }}");'>
              &#10060;
            </a>
          </td>
        </tr>
      {% empty %}
        <tr><td colspan='14'>No users in database</td></tr>
      {% endfor %}
      {% if users %}
        <tr>
          <td colspan='2' align='right'><b>TOTAL:</b></td>
          <td align='center'><b>{{ total_img }}</b></td>
          <td align='center'><b>{{ total_failed }}</b></td>
          <td align='center'><b>{{ total_animated }}</b></td>
          <td align='center'><b>{{ total_sz }}</b></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td align='center'><b>{{ total_thumbs }}</b></td>
          <td colspan='2'>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td colspan='5' align='right'><b><i>TOTAL&nbsp;STORAGE:</i></b></td>
          <td colspan='6' align='center'><b><i>{{ total_file_storage }}</i></b></td>
          <td colspan='2'>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      {% endif %}
    </table>

    <form id='delete_form' name='delete_form' action='{% url "users" %}' method='post'>
      {% csrf_token %}
      <input id='delete_input' name='delete_input' type='hidden' value=''/>
    </form>

    <p><a href='{% url "index" %}'>(Go To: Home Page)</a></p>

  </body>
</html>
